<!--The content below is only a placeholder and can be replaced.-->
 
<div class="yoyo" style="text-align:center ; background-color: lightskyblue">
  <h1>
    <br>
     Welcome to {{ title }}!
  </h1><br>
</div>
<div class="card">
    <app-experience></app-experience>
</div>

<body class="hehe" style="background-color: yellow ; background-size: cover ; margin-right: 10% ; margin-left: 25%">
<br>
<div style="text-align:center">

  <h3>{{message1}}
<br><br>
{{message2}}
<br><br>
{{message3}}
<br><br>
</h3>
</div>
<div>
  <h4>
{{message4}}
<ul>
<li> {{message5}} </li>

<li> {{message6}} </li>

<li> {{message7}} </li>

<li> {{message8}} </li>

<li> {{message9}} </li>

<li> {{message10}} </li>

</ul>
</h4>
</div>
</body>
